<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 10px;">
        <ion-icon size="medium" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="3" style="padding-left: 21px;">Item</ion-col>
    <ion-col size="3">Vendor</ion-col>
    <ion-col size="2">Price</ion-col>
    <ion-col size="2">Quantity</ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-col size="1">
        <ion-thumbnail><img src={{item.img_src}}> </ion-thumbnail>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{item.name}}</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-label>{{item.vendor}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{item.price}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{item.quantity}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="outline" (click)="openModal(item)">
          View Item
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>

  <!-- <ion-grid>
    <ion-row id="row-header">
      <ion-col size="4">Item</ion-col>
      <ion-col size="2">Vendor</ion-col>
      <ion-col size="2">Quantity</ion-col>
      <ion-col size="2">Price</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/hammer.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Hammer</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/drillbits.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Drill bits</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/gloves.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Gloves</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/hard-hat.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Hard Hat</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/mask.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">PPE Mask</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/plywood.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Plywood</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/razers.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Razor's</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/screws.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Screws</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/welding-mask.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Welding Mask</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/wrench.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Wrench</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

    <ion-row id="itemInfo">
      <ion-col size="1" size-xs="2">
        <ion-thumbnail>
          <img src="../../assets/images/inventory/socket-set.jpg" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="2">Socket Set</ion-col>
      <ion-col size="2">XYZ Supply</ion-col>
      <ion-col size="2">10</ion-col>
      <ion-col size="2">$50</ion-col>
    </ion-row>

  </ion-grid> -->
</ion-content>