<ion-header>
  <ion-toolbar>
    <ion-title>Employees</ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 10px;">
        <ion-icon size="medium" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row id="row-header">
    <ion-col size-xs="6" size-sm="5" size-md="5" size-lg="5">Employee</ion-col>
    <ion-col size-sm="3" size-md="2" size-lg="2" class="position">Position</ion-col>
    <ion-col size-md="2" size-lg="2" class="salary">Salary</ion-col>
    <ion-col size-lg="2" class="phone">Phone</ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let e of employees; let i = index" button="true" lines="inset">
      <ion-col size-xs="2" size-sm="1" size-md="1" size-lg="1">
        <ion-thumbnail>
          <img src="{{e.img_src}}" />
        </ion-thumbnail>
      </ion-col>
      <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4">
        <ion-label>{{e.name}}</ion-label>
      </ion-col>
      <ion-col class="position" size-lg="2">
        <ion-label>{{e.position}}</ion-label>
      </ion-col>
      <ion-col class="salary" size-lg="2">
        <ion-label>{{e.salary}}</ion-label>
      </ion-col>
      <!-- Substitute with icon icon?-->
      <ion-col class="phone" size-lg="2">
        <ion-label>{{e.phone}}</ion-label>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>