
@media (min-width: 0px) and (max-width: 576px){
    .phone {
        display: none;
    }
    .salary {
        display: none;
    }
    ion-icon {
        margin-left: 50%;
        margin-right: 50%;    
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .phone {
        display: none;
    }
    ion-icon {
        margin-left: 50%;
        margin-right: 50%;    
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    ion-icon {
        margin-left: 50%;
        margin-right: 50%;    
    }
}