<ion-header>
  <ion-toolbar>
    <ion-title>Sales</ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 10px;">
        <ion-icon size="medium" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row id="row-header">
      <ion-col size="2" size-xs="3">Status</ion-col>
      <ion-col size="2" size-xs="3">Amount </ion-col>
      <ion-col size="2" size-xs="3">Customer Info</ion-col>
      <ion-col size="2" size-xs="3">Type</ion-col>
      <ion-col size="2" class="payment-method">Payment Method</ion-col>
      <ion-col size="2" class="date">Date</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="danger">
          <ion-label outline="true" color="danger">Failure</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$450.00 USD</ion-col>
      <ion-col size="2" size-xs="3">John Doe</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>5543</ion-label>
      </ion-col>
      <ion-col size="2" class="date">27 Oct 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="1" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$40.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Bob Dylan</ion-col>
      <ion-col size="2" size-xs="3">Refund</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2287</ion-label>
      </ion-col>
      <ion-col size="2" class="date">03 Nov 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$4000.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Ryan McGill</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>6887</ion-label>
      </ion-col>
      <ion-col size="2" class="date">10 Nov 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="warning">
          <ion-label outline="true" color="warning">Pending</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$200.00 USD</ion-col>
      <ion-col size="2" size-xs="3">James Mac</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2347</ion-label>
      </ion-col>
      <ion-col size="2" class="date">21 Jul 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="warning">
          <ion-label outline="true" color="warning">Pending</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$885.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Luke McDill</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>6655</ion-label>
      </ion-col>
      <ion-col size="2" class="date">16 Mar 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="warning">
          <ion-label outline="true" color="warning">Pending</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$7500.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Pablo Escobar</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2167</ion-label>
      </ion-col>
      <ion-col size="2" class="date">29 Feb 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$465.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Jonathan McGyver</ion-col>
      <ion-col size="2" size-xs="3">Refund</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>6667</ion-label>
      </ion-col>
      <ion-col size="2" class="date">30 Jan 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$380.05 USD</ion-col>
      <ion-col size="2" size-xs="3">Harold Dingle</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>1432</ion-label>
      </ion-col>
      <ion-col size="2" class="date">22 Jun 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="danger">
          <ion-label outline="true" color="danger">Failure</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$412.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Timothy Howard</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2232</ion-label>
      </ion-col>
      <ion-col size="2" class="date">02 Dec 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$332.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Bryan Cranston</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>1117</ion-label>
      </ion-col>
      <ion-col size="2" class="date">10 Nov 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$5578.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Lucas Roosterteeth</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2468</ion-label>
      </ion-col>
      <ion-col size="2" class="date">09 Mar 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$998.50 USD</ion-col>
      <ion-col size="2" size-xs="3">Michael New</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>8432</ion-label>
      </ion-col>
      <ion-col size="2" class="date">01 Nov 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$720.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Jennifer White</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2688</ion-label>
      </ion-col>
      <ion-col size="2" class="date">20 Jul 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$1500.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Shonda Williams</ion-col>
      <ion-col size="2" size-xs="3">Refund</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>8167</ion-label>
      </ion-col>
      <ion-col size="2" class="date">15 Sep 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$3200.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Tyler McDonald</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>7667</ion-label>
      </ion-col>
      <ion-col size="2" class="date">24 Oct 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$199.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Wendy Subway</ion-col>
      <ion-col size="2" size-xs="3">Refund</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>0237</ion-label>
      </ion-col>
      <ion-col size="2" class="date">07 Oct 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$851.90 USD</ion-col>
      <ion-col size="2" size-xs="3">Joe Timberland</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>9537</ion-label>
      </ion-col>
      <ion-col size="2" class="date">24 Sep 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$666.10 USD</ion-col>
      <ion-col size="2" size-xs="3">Rex Tillerson</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>4667</ion-label>
      </ion-col>
      <ion-col size="2" class="date">18 Jun 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$94.50 USD</ion-col>
      <ion-col size="2" size-xs="3">Vladmir Putin</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>1127</ion-label>
      </ion-col>
      <ion-col size="2" class="date">10 Feb 2020</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$40.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Sarah Strong</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>2388</ion-label>
      </ion-col>
      <ion-col size="2" class="date">19 Sep 2019</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$195.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Heidi McCork</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>6900</ion-label>
      </ion-col>
      <ion-col size="2" class="date">10 May 2019</ion-col>
    </ion-row>

    <ion-row id="transactionDetails">
      <ion-col size="2" size-xs="3">
        <ion-chip outline="true" color="success">
          <ion-label outline="true" color="success">Success</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2" size-xs="3">$60.00 USD</ion-col>
      <ion-col size="2" size-xs="3">Stan Marsh</ion-col>
      <ion-col size="2" size-xs="3">Payment</ion-col>
      <ion-col size="2" class="payment-method">
        <ion-icon name="card"></ion-icon>
        <ion-label>7743</ion-label>
      </ion-col>
      <ion-col size="2" class="date">01 Jan 2019</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>