<ion-header>
  <ion-toolbar>
    <ion-title>Jobs</ion-title>
    <ion-buttons slot="end">
      <ion-button style="margin-right: 10px;">
        <ion-icon size="medium" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="2" style="padding-left: 21px;">Customer</ion-col>
    <ion-col size="2">Date</ion-col>
    <ion-col size="2">Finished</ion-col>
    <ion-col size="2">Technician</ion-col>
    <ion-col size="2">Billed</ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngFor="let job of jobs; let i = index">
      <ion-col size="2">
        <ion-label>{{job.customer}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{job.date}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{job.finished}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{job.technician}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{job.billed}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="outline" (click)="openModal(job)">
          View Item
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>